
body { 
  background-color: #2F4F4F; 
}

/* BEGINNING HEADER STYLE */
#header-nav { 
	background-color: #008080;
	/* border-radius: 0; */
	border:  0;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navbar-brand { 
  padding-top: 25px;
}
.navbar-brand h1 { 
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  color: white;
}
.navbar-brand p {
  color: white;
  text-shadow: 1px 1px 1px #222;
  margin-top: 15px;
}

/* Navigation List Design */
#nav-list { 
  margin-top: 20px; 
}

#nav-list a:hover { 
	background: #1B1610; 
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}

#nav-list a {
  color: white;
  /* text-align: center; */
  font-size: 1.0em;
}

#collapsable-nav #nav-list .selected {
  background-color: black;
}


.timeline-item:nth-child(odd) {
  left: 0;
  transform: translateX(-10%);
}

.timeline-item:nth-child(even) {
  left: 50%;
  transform: translateX(10%);
}


/********** START LARGER DEVICE **********/
@media (min-width: 1200px) {

}
/********** END LARGER DEVICE   **********/




/********** START MEDIUM DEVICE **********/
@media (min-width: 992px) and (max-width: 1199px) {
  
}
/********** END MEDIUM DEVICE   **********/




/********** START SMALL DEVICE **********/
@media (min-width: 768px) and (max-width: 991px) {
	/* Header */
	
	#collapsable-nav #nav-list { float:left!important; }
	
	/* Header */

}
/********** END SMALL DEVICE   **********/




/********** STAR EXTRA SMALL DEVICE **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 20px;
    height: 80px;
  }
  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 4vw; 
  }

  #collapsable-nav a {
    font-size: 1.2em;
  }

  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  
  .timeline-item:nth-child(odd) {
    left: 0;
    transform: translateX(-3%);
  }

  .timeline-item:nth-child(even) {
    left: 50%;
    transform: translateX(3%);
  }


}


/********** END EXTRA SMALL DEVICE   **********/


.section {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.sectionTitle {
  color: white;
  padding-top: 50px;
  margin-bottom: -50px;
  opacity: 0; 
  transform: translateY(50px); 
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.section h1, .section p {
    color: white;
}





